<%= devise_error_messages %>

<%= form_for(resource, as: resource_name, url: user_path, html: { method: :put }) do |f| %>
<div class="box">
  <h1 class="title is-5">プロフィール編集</h1>
  <hr>
  <div class="field">
    <%= f.label :name, 'お名前', class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <div class="label">アイコン</div>
    <% if @current_user.avatar? %>
    <div class="image is-128x128">
      <%= image_tag(@current_user.avatar_icon_url, class: 'is-rounded') %>
    </div>
    <% end %>
  </div>
  <div class="field file has-name is-fullwidth">
    <label class="file-label">
      <%= f.file_field :avatar, class: 'file-input' %>
      <%= f.hidden_field :avatar_cache %>
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">ファイル選択</span>
      </span>
      <span class="file-name" id="file_input_name"></span>
    </label>
  </div>
  <div class="field">
    <%= f.label :email, 'メールアドレス', class: 'label' %>
    <div class="control">
      <%= f.email_field :email, class: 'input', placeholder: '' %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p class="help is-danger">
      <%= resource.unconfirmed_email %>にて、アカウント認証メールを確認して下さい。
    </p>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password, 'パスワード (変更する場合のみ入力して下さい)', class: 'label' %>
    <div class="control">
      <%= f.password_field :password, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'パスワードの確認', class: 'label' %>
    <div class="control">
      <%= f.password_field :password_confirmation, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :current_password, '現在のパスワード', class: 'label' %>
    <div class="control">
      <%= f.password_field :current_password, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit '更新', class: 'button is-fullwidth' %>
    </div>
  </div>
  <div class="has-text-centered">
    <%= link_to '退会はこちらから', user_unsubscribe_path(resource) %>
  </div>
</div>
<% end %>