<%= devise_error_messages %>

<%= form_for(resource, as: resource_name, url: sign_up_path) do |f| %>
<div class="box">
  <h1 class="title is-6">ユーザ登録(無料)</h1>
  <hr>
  <div class="field">
    <%= f.label :name, 'お名前', class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :email, 'メールアドレス', class: 'label' %>
    <div class="control">
      <%= f.email_field :email, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password, 'パスワード', class: 'label' %>
    <div class="control">
      <%= f.password_field :password, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'パスワードの確認', class: 'label' %>
    <div class="control">
      <%= f.password_field :password_confirmation, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit 'ユーザ登録をする', class: 'button is-fullwidth' %>
    </div>
  </div>
</div>
<% end %>