<%= devise_error_messages %>

<%= form_for(resource, as: resource_name, url: password_path, html: { method: :post }) do |f| %>
<div class="box">
  <h1 class="title is-5">パスワード再設定</h1>
  <hr>
  <div class="has-text-left has-margin-b-6">
    <p>ご登録のメールアドレスを入力してください。</p>
    <p>パスワードを再設定するためのメールをお送りいたします。</p>
  </div>
  <div class="field">
    <%= f.label :email, 'メールアドレス', class: 'label' %>
    <div class="control">
      <%= f.email_field :email, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit '送信', class: 'button is-fullwidth' %>
    </div>
  </div>
</div>
<% end %>