<div class="box">
  <h1 class="title is-5">新着投稿</h1>
  <hr>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
    <article class="content post">
      <div class="title is-size-4">
        <%= link_to(post.subject, category_post_path(post.category, post)) %>
      </div>
      <div class="media">
        <div class="media-left">
          <p class="image is-32x32">
            <img class="is-rounded" src="http://bulma.io/images/placeholders/128x128.png">
          </p>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <% if post.user.nil? %><%= post.not_exist_post_user %><% else %><%= link_to(post.user.name, user_show_path(post.user)) %><% end %> &nbsp;<span class="tag"><%= post.category.name %></span>
            </p>
          </div>
        </div>
        <div class="media-right">
          <span class="has-text-grey-light"><i class="fa fa-comments"></i> <%= post.reply_count %></span>
        </div>
      </div>
    </article>
    <% end %>
  <% end %>
</div>