<%= devise_error_messages %>

<%= form_for(resource, as: resource_name, url: login_path) do |f| %>
<div class="box">
  <h1 class="title is-6">ログイン</h1>
  <hr>
  <div class="field">
    <%= f.label :email, 'メールアドレス', class: 'label' %>
    <div class="control">
      <%= f.email_field :email, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password, 'パスワード', class: 'label' %>
    <div class="control">
      <%= f.password_field :password, class: 'input', placeholder: '' %>
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, 'ログイン情報を記憶する', class: 'checkbox is-size-7' %>
  </div>
  <% end %>
  <div class="field">
    <div class="control">
      <%= f.submit 'ログイン', class: 'button is-fullwidth' %>
    </div>
  </div>
  <div class="has-text-centered">
    <%= link_to('パスワードを忘れた方はこちら', new_user_password_path)%>
  </div>
</div>
<% end %>