<div class="title_block">
  <h1 class="page_title">ログイン</h1>
</div>

<div class="signup_form col-12 col-sm-6 offset-sm-3">
<%= form_for(resource, as: resource_name, url: login_path) do |f| %>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= f.label :email, 'メールアドレス', class: 'col-form-label' %><br />
      <%= f.email_field :email, class: 'form-control', autocomplete: 'email', placeholder: '' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= f.label :password, 'パスワード', class: 'col-form-label' %><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password', placeholder: '' %>
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div class="form-check">
    <%= f.check_box :remember_me, class: 'form-check-input position-static' %>
    <%= f.label :remember_me, 'ログイン情報を記憶する', class: 'chk_label' %>
  </div>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= f.submit 'ログイン', class: 'entry btn btn-primary' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 text-center">
      <%= link_to('パスワードを忘れた方はこちら', new_user_password_path)%>
    </div>
  </div>
<% end %>
</div>
