<div class="row">
  <div class="col-sm-8">
    <div class="title_block">
      <h1 class="page_title"><%= @category.name %></h1>
    </div>
    <% if @posts.present? %>
    <div class="post_list">
      <ul>
      <% @posts.each do |post| %>
      <% post = post.decorate %>
        <li>
          <div class="row">
            <div class="col-2 col-sm-1 post_block entry_block">
              <dl class="">
                <dt class="entry<% if post.reply_count == 0 %> txt-0<% end %>">回答</dt>
                <dd class="unsolved<% if post.reply_count == 0 %> txt-0<% end %>"><%= post.reply_count %></dd>
              </dl>
            </div>
            <div class="col-10 col-sm-11 post_block">
              <span class="category <%= post.category.code %>"><%= post.category.name %></span>
              <div class="post_title"><%= link_to(post.subject, category_post_path(post.category, post)) %></div>
              <div class="post_footer text-right">
                <div class="edit_date mr-3">投稿日: <%= post.created_at_view %></div>
                <div class="editor"><%= link_to(post.user.name, user_show_path(post.user)) %></div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
    <%= paginate @posts %>
    <% end %>
  </div>
  <%= render 'layouts/side' %>
</div>