<% @page_title = @post.subject %>

<% if @reply.errors.any? %>
<div class="notification is-danger">
  <% @reply.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>
</div>
<% end %>

<div class="box">
  <h1 class="title is-5"><%= @post.subject %></h1>
  <hr>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= image_tag(@post.user_avatar_icon_url, class: 'is-rounded') %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <strong><% if @post.user.nil? %><%= @post.not_exist_post_user %><% else %><%= link_to(@post.user.name, user_show_path(@post.user)) %><% end %></strong>
        <%= @post.body_view %>
        <small class="has-text-grey">投稿日: <%= @post.created_at_view %></small>
      </div>
      <!-- reply start -->
      <% replies = ReplyDecorator.decorate_collection(@post.replies) %>
      <% if replies.present? %>
        <% replies.each do |reply| %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <%= image_tag(reply.user_avatar_icon_url, class: 'is-rounded') %>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <strong><% if reply.user.nil? %><%= reply.not_exist_reply_user %><% else %><%= link_to(reply.user.name, user_show_path(reply.user)) %><% end %></strong>
              <%= reply.body_view %>
              <small class="has-text-grey">投稿日: <%= reply.created_at_view %></small>
            </div>
          </div>
        </article>
        <% end %>
      <% end %>
      <!-- reply end -->
    </div>
  </article>
  <% if user_signed_in? %>
  <!-- comment form start -->
  <%= form_for @reply, :url => category_reply_path, :html => {:class => "media"} do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <figure class="media-left">
    <p class="image is-64x64">
      <%= image_tag(current_user.avatar_icon_url, class: 'is-rounded') %>
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <%= f.text_area :body, size: '20x3', class: 'textarea', placeholder: '' %>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <%= f.submit 'コメントする', class: 'button is-fullwidth' %>
      </p>
    </div>
  </div>
  <% end %>
  <!-- comment form end -->
  <% end %>
</div>