<div class="box">
  <h1 class="title is-5"><%= "#{@user.name}の質問一覧" %></h1>
  <hr>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
    <% post = post.decorate %>
    <article class="content post">
      <div class="title is-size-4">
        <%= link_to(post.subject, category_post_path(post.category, post)) %>
      </div>
      <div class="media">
        <div class="media-left">
          <p class="image is-32x32">
            <%= image_tag(post.user_avatar_icon_url, class: 'is-rounded') %>
          </p>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <% if user_signed_in? && current_user.id == @user.id %>
              <%= link_to('編集', posts_edit_path(post.id)) %>
              <% else %>
              <% if post.user.nil? %><%= post.not_exist_post_user %><% else %><%= link_to(post.user.name, user_show_path(post.user)) %><% end %>
              <% end %>
               &nbsp;<span class="tag"><%= post.category.name %></span>
            </p>
          </div>
        </div>
        <div class="media-right">
          <span class="has-text-grey-light"><i class="fa fa-comments"></i> <%= post.reply_count %></span>
        </div>
      </div>
    </article>
    <% end %>
    <%= paginate @posts %>
  <% end %>
</div>