<% @page_title = 'お問い合わせ' %>

<% if @inquiry.errors.any? %>
<div class="notification is-danger">
<% @inquiry.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>
</div>
<% end %>

<%= form_for(@inquiry, :url => inquiry_path) do |f| %>
<div class="box">
  <h1 class="title is-5"><%= 'お問い合わせ' %></h1>
  <hr>
  <div class="field">
    <%= f.label :name, 'お名前', class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :email, 'メールアドレス', class: 'label' %>
    <div class="control">
      <%= f.text_field :email, class: 'input', placeholder: '' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :body, '本文', class: 'label' %>
    <div class="control">
      <%= f.text_area :body, size: '20x10', class: 'textarea', placeholder: '質問内容をお書きください' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit '送信', class: 'button is-fullwidth' %>
    </div>
  </div>
</div>
<% end %>
