<!-- nav start-->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: 'navbar-item' do %>
        <%= image_tag 'logo.png', { alt: 'Mentally', class: 'logo' } %>
      <% end %>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <%= link_to 'Mentallyとは', about_path, class: 'navbar-item' %>
        <% if user_signed_in? %>
        <%= link_to '質問する', new_post_path, :class => 'navbar-item' %>
        <% end %>
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %>
              <%= link_to user_show_path(current_user), :class => 'button is-primary' do %>
                <strong>マイページ</strong>
              <% end %>
              <%= link_to logout_path, method: :delete, :class => 'button is-light' do %>
                <i class="fas fa-user fa-fw"></i>ログアウト
              <% end %>
            <% else %>
              <%= link_to sign_up_path, :class => 'button is-primary' do %>
                <strong>登録</strong>
              <% end %>
              <%= link_to login_path, :class => 'button is-light' do %>
                <i class="fas fa-user fa-fw"></i>ログイン
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- nav end -->