<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to(root_path, class: 'navbar-brand') do %>
    <%= image_tag('logo.png', { alt: 'U2トーク', class: 'logo' }) %>
    <% end %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'U2トークとは', about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            カテゴリ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">病院</a>
            <a class="dropdown-item" href="#">薬</a>
            <a class="dropdown-item" href="#">赤ちゃん・育児</a>
            <a class="dropdown-item" href="#">子育て・家族</a>
            <a class="dropdown-item" href="#">お仕事</a>
            <a class="dropdown-item" href="#">マネー</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">すべて</a>
          </div>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'マイページ', user_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", logout_path, method: :delete, :class => 'nav-link'%>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to '登録', sign_up_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", login_path, :class => 'nav-link'%>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>